body {
    margin: 20px;
    background-color: rgb(210, 203, 203);
  }
  h1{
    text-decoration: underline;
  }

  .filaTablero:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .bloque {
    border: 1px solid #999;
    float: left;
    font-size: 40px;
    height: 80px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;
    color: aliceblue;
  }
  
  .turno, .reiniciar {
    margin-top: 10px;
  }
  .turno{
    margin-bottom: 10px;
  }
  
  .tablero{
    display: grid;
  }
  .filaTablero{
    justify-self: center;
  }
  .iconos{
    text-align: center;
  }
  .reiniciar{
    display: flex;
    justify-content: center;
    width: 200px;
    place-self: center;
  }
  